html 
    head 
        link(rel='stylesheet', href='index.css', media='screen', title='no title', charset='utf-8')
        link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script', rel='stylesheet', type='text/css')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial scale=1.0, user-scalable=no')

    body
        section#main-container
             footer.site-footer
                .container
                    .row
                    .col.s12.l3.center-align
                        // Dropdown Trigger
                        a.dropdown-button.btn(href='#', data-activates='ddlIdioma') Idioma
                        // Dropdown Structure
                        ul#ddlIdioma.dropdown-content
                        li
                            a(href='#!') Español
                        li
                            a(href='#!') Inglés
                    .col.s12.l3.push-l6.center-align
                        | © 2016 fakegram
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
